
<div class="container mt-4 d-flex flex-column flex-wrap">
    <h1 id ="offer" class="mb-3 text-center heading-font">Courses on offer</h1>
    <div class="row justify-content-center justify-content-sm-start">
    {{#each coursesList}}
        {{> courseCard}}
    {{/each}}
    </div>
</div>
