

<div id="landing-info" class="container-fluid center text-center mb-4 mt-4 mb-5 mb-sm-2 mt-sm-2">
    <div class="row align-items-center">
        <div id="landing-info-son" class="col">
            <div class="heading-font">
                <h1 id="landing-heading" class="mb-4 me-0"><span class="details-color">Acquire skills</span> with courses, certificates and degrees offered by the <span class="details-color">world's leading</span> universities and companies.</h1>
            </div>
            <div class="d-flex flex-column flex-sm-row align-items-center justify-content-center">
                <a href="/coursesOffer"><button class="btn btn-primary m-2 p-2 p-lg-3 heading-font fs-5"><b id="check-courses">Check our courses!</b></button></a>
                <a href="/auth/registerUser"><button id="join-now-btn" class="btn btn-light p-2 p-lg-3 ms-sm-3 heading-font"><b class="button-text">Join now!</b></button></a>
            </div>
        </div>
        <div class=" d-none d-sm-flex col-4 col-xl-3 me-5 ms-5">
            <img id="people-studying" src="/images/people-studying.png">
        </div>
    </div>
</div>

<div id="landing-more-info" class="d-flex flex-column justify-content-sm-center align-items-sm-start mt-sm-4">
    <div id="partners" class="container-fluid d-flex flex-column align-items-center heading-font pt-4 pb-4 mb-4">
        <h1 class="heading-font text-center mb-3"><span>Discover our prestigious</span> partners</h1>
        <div class="container">
            <div class="row justify-content-center">
                <img class="col-5 col-sm-2 col-xxl-2" id="ironhack-logo" src="https://res.cloudinary.com/leakko/image/upload/v1628187210/courses-web/kisspng-ironhack-web-development-job-startup-company-march-26-2017-5b3cc178746835.0575003615307083444768_fe9bdg.png">
                <img id="stanford-logo" class="col-6 col-sm-3 col-xxl-2" src="https://res.cloudinary.com/leakko/image/upload/v1628187493/courses-web/pngwing.com_wmjmks.png">
                <img class="col-6 col-sm-3 col-xxl-2" src="https://res.cloudinary.com/leakko/image/upload/v1628187284/courses-web/pngegg_ihro4s.png">
                <img id="ied-logo" class="col-6 col-sm-3 col-xxl-2" src="https://res.cloudinary.com/leakko/image/upload/v1628187552/courses-web/kisspng-istituto-europeo-di-design-master-s-degree-school-improvised-explosive-device-5b2205e5df5d78.2700794615289563899149_jskex0.png">
            </div>
        </div>
    </div>

    <div id="easily" class="container d-flex flex-column align-items-center">
        <h1 class="heading-font mb-3 mt-sm-5">Learn <span>easily</span> with us</h1>
        <div class="row justify-content-center">
            <div class="col-8 col-sm-3 col-xl-2 mb-4 mt-4">
                <div class="pe-sm-0 ps-sm-0 pe-5 ms-3 me-3 pe-md-4 ps-md-4 pe-xxl-5 ps-xl-5 ps-5 mb-3">
                    <img id="freak" src="/images/magnifying-glass.png">
                </div>
                <div>
                    <em><p class="text-center">SEARCH IN OUR COURSES LIST</p></em>
                </div>        
            </div>
            <div class="col-8 col-sm-3 col-xl-2 mb-4 mt-4">
                <div class="pe-sm-0 ps-sm-0 pe-5 ms-3 me-3 pe-md-4 ps-md-4 pe-xxl-5 ps-xl-5 ps-5 mb-3">
                    <img id="freak" src="/images/tap.png">
                </div>
                <div>
                    <em><p class="text-center">ACCESS COURSE DETAILS</p></em>
                </div>        
            </div>
            <div class="col-8 col-sm-3 col-xl-2 mb-4 mt-4">
                <div class="pe-sm-0 ps-sm-0 pe-5 ms-3 me-3 pe-md-4 ps-md-4 pe-xxl-5 ps-xl-5 ps-5 mb-3">
                    <img id="freak" src="/images/subscribe.png">
                </div>
                <div>
                    <em><p class="text-center">SUBSCRIBE</p></em>
                </div>        
            </div>
            <div class="col-8 col-sm-3 col-xl-2 mb-4 mt-4">
                <div class="pe-sm-0 ps-sm-0 pe-5 ms-3 me-3 pe-md-4 ps-md-4 pe-xxl-5 ps-xl-5 ps-5 mb-3">
                    <img id="freak" src="/images/avatar.png">
                </div>
                <div>
                    <em><p class="text-center">CHECK YOUR CURRENT COURSES IN YOUR PROFILE</p></em>
                </div>        
            </div>
        </div>
    </div>
</div>

<div class="mt-5 ms-4">
         Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
</div>