<style>
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
</style>

<div id="landing-info" class="container-fluid primary-bg center text-center">
    <div id="landing-info-son" class="container-fluid center">
        <div class="heading-font">
            <h1 id="landing-heading" class="mb-5"><span class="details-color">Acquire skills</span> with courses, certificates and degrees offered by the <span class="details-color">world's leading</span> universities and companies.</h1>
        </div>
        <div class="d-flex flex-column flex-sm-row align-items-center">
             <a href="/coursesOffer"><button class="btn btn-light me-2 ms-2 mb-2 mt-2"><b class="details-color">Check our curses!</b></button></a>
             <a href="/auth/registerUser"><button class="btn btn-light"><b class="details-color">Register now!</b></button></a>
        </div>
    </div>
    
</div>

<div class="d-flex flex-column flex-sm-row justify-content-sm-center align-items-sm-start mt-sm-4">
    <div id="carousel" class="container heading-font">
    <div class="row justify-content-center justify-content-sm-end me-sm-5" id="carousel-row">
        <div class="col-10 col-sm-6">
            <h1 id="discover" class="center details-color" >Discover our prestigious partners</h1>
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                <img src="https://res.cloudinary.com/leakko/image/upload/v1627115733/courses-web/mzlj8fjuuq6i50kszih5.png" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                <img src="https://res.cloudinary.com/leakko/image/upload/v1627115335/courses-web/gn1s4u9gvjdtlo11m6m6_jk4ddq.png" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                <img src="https://res.cloudinary.com/leakko/image/upload/v1627115335/courses-web/lf7uszeaz2npddbuqtoy_qesnpz.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                <img src="https://res.cloudinary.com/leakko/image/upload/v1627244103/courses-web/Fully-Funded-Yenching-Postgraduate-Scholarship-at-Peking-University-China-1_ftkbtn.jpg" class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
            </div>
        </div>
    </div>
    </div>

    <div id="about-us" class="container">
    <div class="row justify-content-center justify-content-sm-start ms-sm-5">
        <div class="col-10 col-sm-10 col-md-6 d-flex center flex-column">
            <h1 class="heading-font details-color mb-3 mt-sm-5">About us</h1>
            <p class="text-center"><b>Lorem ipsum dolor sit amet... Que noooo, que no somos tan vagos! Bievenidos a Sensey, el portal en el que se conectan entidades educativas y estudiantes de tu ciudad.</b></p> 
            <img id="freak" src="/images/videojuegoblog_friki.jpg">          
        </div>
    </div>
    </div>
</div>

<div class="mt-5">Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>