<form class="mt-4" action="/updatePassword" method="POST">
    <div class="mb-3">
      <label for="password" class="form-label">password</label>
      <input type="password" class="form-control{{#if errorMessage.password}} is-invalid {{/if}}" id="password" name="password" placeholder="Choose a password">
      {{#if errorMessage.password}}
        <div id="validationServerUsernameFeedback" class="invalid-feedback">
          {{errorMessage.password.properties.message}}
        </div>
      {{/if}}
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
    </form>