
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;500&display=swap');

/* GENERAL */

#map {
  height: 350px;
  width: auto;
 }

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}

.hidden{
  display: none;
}

.visible{
  display: flex;
}

.primary-bg {
  /* background-color: #3BA1F2; */
  background-image: url("/images/blue-bg.jpg");
}

.white {
  color: white;
}

#login-btn-form {
  background-color: #377ddf;
  color: white;
}

/* NAVBAR */

#navbar-id {
  z-index: 100!important;
}

.nav-item {
  font-size: 1rem;
  position: relative;
  top: 2px;
}

#see-courses {
  font-size: 1.4rem;
}

#see-courses > strong > a {
  color: #377ddf;
}

.custom-toggler .navbar-toggler-icon {
  color: #F0A42E
}

.border-bottom {
  border-bottom: 1px solid rgb(206, 200, 200) !important;
}

/* LANDING PAGE */

#landing-info {
  color: white;
  height: 50vh;
  display: flex;
  flex-direction: column;
}

#partners {
  background-color: rgba(170, 199, 209, 0.2);
  color: #377ddf;
}

#partners span {
  color: black;
}

#easily h1 {
  color: black;
}

#easily p {
  font-size: 1rem;
  color: black;
}

#easily span {
  color: #377ddf;
}

#landing-info-son {
  flex-direction: column;
}

nav {
  z-index: 100!important;
}

#landing-heading {
  width: 100%;
  color: black;
}

.heading-font {
  font-family: 'Ubuntu', sans-serif;
}

nav {
  font-family: 'Ubuntu', sans-serif;
}

#orange-frame {
  width: 70%;
  height: 90%;
}

#carousel {
  margin: 5vh auto;
}

#discover {
  text-align: center;
  margin-bottom: 2vh;
}

#carousel-row {
  justify-content: center;
}
#freak{
  width: 90%;
}

#check-courses {
  background-color: #377ddf;
}

#join-now-btn {
  border: 2px solid #377ddf;
}

/* INDEX */
.card-image-size{
  height: 25vh;
  object-fit: cover;
}

div div p b {
  font-size: 1.2rem;
}

#people-studying {
  width: 100%;
}

#stanford-logo {
  object-fit: contain;
}

#ied-logo {
  object-fit: contain;
}

#ironhack-logo {
  object-fit: contain;
}

#offer {
  font-size: 2.5rem;
  font-weight: 500;
}

/* HELPERS */

#course-info-title {
  font-size: 2rem;
}

#login-course {
  background-color: #377ddf;
  color: white;
}

#join-course-detail {
  background-color: #377ddf;
  color: white;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.details-color {
  color: #377ddf;
}

.header-preset{
  font-family: 'Anton', sans-serif;
  font-size: 2rem;
  font-weight: 500;
  text-shadow: 2px 2px #444040;
  color:#FFBD57
}
.button-text{
  color: #377ddf
  
}
.no-style{
  list-style-type: none;
}
.course-info{
  font-size: 1rem;
}
.button-orange{
  background-color:#FFBD57;
  border-color: #FFBD57;
  color: black;
}
.button-blue{
  background-color:#4EB7F0;
  border-color: #4EB7F0;
  color: black;
}
.card-styling{
  
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
  transition: 0.3s;
  background-color: #4EB7F0;
}

.see-more {
  background-color: #377ddf;
  border: 2px solid #377ddf;
}

.company-info-btn {
  background-color: rgba(0, 0, 0, 0);
  color: #377ddf;
  border: 2px solid #377ddf;
}

.card-styling:hover {
  box-shadow: 0 12px 24px 0 rgba(0,0,0,0.4);
}

.form-styling{
  width: 85vw;
  background-color:#F1F3F4;
  border-color: #969697;
  border-radius: 5px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
}

.coordinates{
  width: 50vw;
}