
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

/* GENERAL */

#map {
  height: 350px;
  width: auto;
 }

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}

.hidden{
  display: none;
}

.visible{
  display: flex;
}

.primary-bg {
  /* background-color: #3BA1F2; */
  background-image: url("/images/blue-bg.jpg");
}

.white {
  color: white;
}

/* NAVBAR */

#navbar-id {
  height: 15vh;
  z-index: 100!important;
}

.nav-item {
  font-size: 1.2rem;
}

.custom-toggler .navbar-toggler-icon {
  color: #F0A42E
}

/* LANDING PAGE */

#landing-info {
  color: white;
  height: 50vh;
  display: flex;
  flex-direction: column;
}

#landing-info-son {
  flex-direction: column;
}

nav {
  z-index: 100!important;
}

#landing-heading {
  width: 100%;
  text-shadow: 2px 2px #444040;
}

.heading-font {
  font-family: 'Anton', sans-serif;
}

#orange-frame {
  width: 70%;
  height: 90%;
}

#carousel {
  margin: 5vh auto;
}

#discover {
  text-align: center;
  margin-bottom: 2vh;
}

#carousel-row {
  justify-content: center;
}
#freak{
  width: 90%;
}

/* INDEX */
.card-image-size{
  height: 25vh;
  object-fit: cover;
}

div div p b {
  font-size: 1.2rem;
}

/* HELPERS */

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.details-color {
  color:#FFBD57
}

.details-color-border {
  border: 10px solid #FFBD57;
}
.header-preset{
  font-family: 'Anton', sans-serif;
  font-size: 2rem;
  font-weight: 500;
  text-shadow: 2px 2px #444040;
  color:#FFBD57
}
.button-text{
  color: 
  #d47313
  
}
.no-style{
  list-style-type: none;
}
.course-info{
  font-size: 1rem;
}
.button-orange{
  background-color:#FFBD57;
  border-color: #FFBD57;
  color: black;
}
.button-blue{
  background-color:#4EB7F0;
  border-color: #4EB7F0;
  color: black;
}
.card-styling{
  
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
  transition: 0.3s;  
}
.card-styling:hover {
  box-shadow: 0 12px 24px 0 rgba(0,0,0,0.4);
}

.form-styling{
  width: 85vw;
  background-color:#F1F3F4;
  border-color: #969697;
  border-radius: 5px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
}

.coordinates{
  width: 50vw;
}